@font-face{
	font-family:TwCenMT-Condensed;
	src:url(../fonts/TwCenMT-Condensed.woff);
	}
	
@font-face{
	font-family:french_script_mt;
	src:url(../fonts/ufonts.com_french_script_mt.eot);
	src:url(../fonts/ufonts.com_french-script-mt.ttf);
	}
@font-face{
	font-family:BellMTi;
	src:url(../fonts/BellMTi.TTF);
	}

@font-face{
	font-family:gulim;
	src:url(../fonts/gulim.ttc);
	}
body{
	background-color:#dddddd;
	}
header{
	background:url(../imgs/images/header_background.jpg) no-repeat #000000;
	border-bottom:1px solid #fff;
	box-shadow: 0px 5px 3px #c4c4c4;
  -moz-box-shadow: 0px 5px 3px #c4c4c4;
  -webkit-box-shadow: 0px 5px 3px #c4c4c4;
	
	}
.inlineBlock{
	display:inline-block;
	}
#logoImg{
	margin-right:26px;
	}
#searchBar{
	margin-right:207px;
	border: 1px solid #681862;
	color:#ffffff;
	}
s#search{
		font-family:TwCenMT-Condensed;
		font-size:20px;
		}
	
.inlineBlock input{
	height:34px;
	width:280px;
	float:left;
	padding: 7px;
	-moz-box-shadow:    inset 2px 1px 5px 1px #ccc;
  -webkit-box-shadow: inset 2px 1px 5px 1px #ccc;
  box-shadow:        inset 2px 1px 5px 1px #ccc;
    
	}
	
.inlineBlock input::-webkit-input-placeholder {
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
}
input:-moz-placeholder { /* Firefox 18- */
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
}

input::-moz-placeholder {  /* Firefox 19+ */
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
}

input:-ms-input-placeholder {  
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
}

.inlineBlock{
	color:#ffffff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	}
	
.inlineBlock button{
		background:#790471;
		 height:34px;
		 text-align:center;
		 border:none;
		 color:#ffffff;
		}
		
#sectionOne{
	font-family:TwCenMT-Condensed;
	margin: 30px 0
	}		
	
.voiletColor{
	color:#790471;
	}
.heading{
	font-family:TwCenMT-Condensed;
	font-size:53px;
	text-align:center;
	}
	
ul li{
	color:#FFF;
	list-style:none;
	display:inline-block;
	margin-right: 9px;
	}


.form2{
	background:#790471;
		 text-align:center;
		 border:none;
		 color:#ffffff;
		 padding:9px;
		 border:1px solid #360032;
		 width:103px;
		 float:right;
		 margin-right:10px;
	}
.mainHeading{
	font-family: 'TwCenMT-Condensed';
  font-size: 53px;
  color: #000;
  text-align: center;
  padding: 10px 0 12px 0;
  background:url(../imgs/images/slider_border.jpg) repeat-x left 70px;
	}
	
#leftAside{
	width:70%; 
	float:left; 
	position:relative;
	}
	
#leftAside img{
	width:100%; 
	position:relative;
	}
#leftAside #bannerBox
{
	top:0;
	left:0;
	position:absolute;
	color:#fff;
	background:rgba(0,0,0,0.6);
	width:100%;
	
	}
#leftAside #bannerBox h2{
	font-family:french_script_mt;
	display:inline-block;
	float:left;
	padding:0 0 0 20px;
	font-size: 74px;
	margin-top:6px;
	margin-bottom:0;
	}
#leftAside #bannerBox .bannerForm{
	display:inline-block;
	float:right;
	margin-right:10px;
	}

#leftAside #bannerBox .bannerForm h6{
	 font-family: 'TwCenMT-Condensed';
	 font-size:19px;
	}	
#rightAside{
	background:#fff;
	float:right;
	 width:30%;
	  height: 510px;
	}
	
#rightAside ul li{
	  font-family: 'TwCenMT-Condensed';
  width: 100%;
  float: left;
  font-size: 35px;
  padding: 15px 0 17px 70px;
  background: url(../imgs/images/slider_border.jpg) repeat-x left 57px;

	}
#rightAside ul li a {
  color: #a8a8a8;
  display: block;
  line-height: 30px;
  padding: 0px;
  letter-spacing: -2px;
}
#rightAside ul li a.active {
  color: #780375;
}

#rightAside ul li.diff {
  font-family: 'TwCenMT-Condensed';
  background: 
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 23px;
  position: relative;
  padding-left: 0px !important;
  width: 100% !important;
  text-align: center;
  background: url(../imgs/images/slider_border.jpg) repeat-x left 57px #cdcdcd;;
}

#rightAside ul li.diff span {
  background:url(../imgs/images/arrow-left.png) no-repeat;
  width: 28px;
  height: 56px;
  float: left;
  position: absolute;
  top: 0px;
  left: -28px;
  z-index: 10;
}
#rightAside .viewMenus {
	width:100%;
	text-align:center;
	}

#rightAside .viewMenus a{
	font-family: 'TwCenMT-Condensed';
		background: #790471;
	  display: inline-block;
  		color: #fff;
  	font-size: 32px;
  letter-spacing: -1px;
  width: 235px;
  padding: 10px 0;
  border: solid 1px #3d0039;
  margin: 40px 0 15px 0;
}

#textLine{
	font-family: 'TwCenMT-Condensed';
	font-size:24px;
	}
.containerStyle{
	border:1px solid #cccccc;
	 padding-left:24px ; 
	 background:#FFF;
	}
#sectionSecond{
	width:100%;
	float:left;
	margin-top:30px;
	}

.zeroPadMar{
	padding:0;
	margin:0;
	}
footer {
	font-family: 'TwCenMT-Condensed';
	background: #000;
	color:#fff;
  width: 100%;
  float: left;
  padding: 24px 0 22px 0;
  margin: 30px 0 0 0;
	}

footer ul li a{
	text-decoration:none;
	color:#fff;
 float: left;
  font-size: 19px;
  padding: 0 9px;
  letter-spacing: 0.5px;
}
footer ul li{
	background:url(../imgs/images/footer_divider.jpg) no-repeat left center;
}
	
footer ul li.first, footer ul li:first-child{
	background:none;
	}



#footerText{
	width: 352px;
  	float: right;
	}

#footerText p{
  font-size: 19px;
  color: #fff;
  line-height: 22px;
  margin-top: -22px;
  text-align: right;
  letter-spacing: 0.5px;
	}







.bTr{
	letter-spacing:-1px;
	width:50%;
	float:left;
	}


#pics{
	width: 50%;
	float:right;
}

#pics #sYp{
	float:right;
	text-align:center;
	
	}
#pics #sYp  a{
	font-family: 'TwCenMT-Condensed';
  background: #886e86;
  display: inline-block;
  color: #fff;
  font-size: 33px;
  letter-spacing: -1px;
  width: 235px;
  border: solid 1px #3d0039;
 
	}
.padZero{
	padding:0;
	}
	
#trendingVenues	
{
	width:27.1%;
	 float:left; 
	 background:url(../imgs/images/pattren.png) no-repeat #fff;
	 border: solid 1px #cdcdcd;
  box-shadow: 0px 3px 3px #9f9d9e;
  min-height: 480px;
  position: relative;
	}
#trendingVenues	 h4{
	font-family: 'TwCenMT-Condensed';
	text-transform:uppercase;
	font-size: 37px;
  color: #000;
  font-weight: normal;
  text-align: center;
	}
	
#trendingVenues	 h4 span{
	font-family: 'TwCenMT-Condensed';
	font-size: 19px;
  color: #a1a1a1;
  display: block;
	}	
#trendingVenues .seeALL{
	
	float: left;
  text-align: right;
  padding-left: 65px;
  padding-top: 24px;
  padding-bottom: 28px;s
	}
	
#trendingVenues a{
	color:#000;
		font-family: 'TwCenMT-Condensed';
		font-size:28px;
		float: left;
  margin: 0 0 0 16px;
  padding: 0 0 0 0;
	}
#trendingVenues ul {
		margin: 0px;
  padding: 0px 10px;
  list-style: none;
		}
		
#trendingVenues ul li{
	text-decoration: none;
  font-family: 'TwCenMT-Condensed';
  font-size: 28px;
  width: 100%;
  float: left;
  padding: 16.7px 0;
  border-bottom: solid 1px #b5b5b5;
	}
	
#trendingVenues ul li:first-child {
  border-top: solid 1px #b5b5b5;
}
#trendingVenues .number{
	font-family: Verdana, Geneva, sans-serif;
  background: #a9a9a9;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
  display: block;
  float: left;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
#trendingVenues .inquire{
	float:right;
	font-size: 18px;
  color: #aeaeae;
  margin: 8px 0 0 0;
	}
	
#trendingVenues .book{
	float:right;
	  float: right;
  font-size: 18px;
  color: #aeaeae;
  border-right: solid 2px #a7a7a7;
  padding: 0 9px 0 0;
  margin: 8px 9px 0 0;
	}
#custumContainer{
	padding: 0;
	}
#behindTheRope{
	padding:10px 15px;
	 border: solid 1px #cdcdcd;
	  min-height: 480px;
	  
	background-color:#fff;
font-family: 'TwCenMT-Condensed';
	width:67%;
	 float:right;
	   margin-left:3%;
	}
#behindTheRope h4{
	
	font-size:37px;
	line-height:20px;
	
	}
#behindTheRope h4 span{
	display:block;
	font-size:19px;
	
	}
#behindTheRope h4 img {
	width:100%;
	}
#behindTheRope p{
	font-family:gulim;
	font-size:17px;
	}
#behindTheRope p2{
		font-family: 'TwCenMT-Condensed';
		font-size:30px;
	}

#hareYourPArtyShots


.deactive{
	background:url(../imgs/images/plus.png) no-repeat left;
	}
.spaceRight{
	margin-right:12px;
	}
#sApS{
	float:right; 
	width:100%; 
	display:block; 
	font-size:28px;
	text-align:right;
	}
#img_1{
	width:100%;
	}